/*!
* IMShop v0.0.1
*/

@import "base/variables";
@import "base/bootstrap-variables-override";
@import "base/bootstrap";
@import "base/scaffolding";
@import "base/fonts";
@import "base/typography";

@import "components/buttons";
@import "components/forms";
@import "components/lists";
@import "components/navbar";
@import "components/grid";
@import "components/facets";
@import "components/icons";
@import "components/search-widget";
@import "components/carousel";
@import "components/main-banner";
@import "components/last-news";
@import "components/last-articles";
@import "components/news-list";
@import "components/articles-list";
@import "components/product-categories-list";
@import "components/products-list";
@import "components/product-details";
@import "components/search-results";

@import "layout/main";
@import "layout/header";
@import "layout/widgets";
@import "layout/footer";