.btn {
  //color: $btn-default-color;
}

.btn-default {
  &:focus,
  &.focus {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
  }
  &:hover {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border-color: $btn-primary-border;

    &:hover,
    &:focus,
    &.focus {
      color: $btn-primary-color;
      background-color: $btn-primary-bg;
      border-color: $btn-primary-border;
    }
  }
}
.btn-primary {

}
