.owl-carousel {
  overflow: hidden;
  .item {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 100;
}
//
//.owl-theme .owl-dots .owl-dot {
//  border: 2px solid #fff;
//  border-radius: 100%;
//}
//.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
//  background: #869791;
//  transition: all 300ms ease 0s;
//}

.carousel {
  .item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  .item::before {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.carousel-caption {
  font-size: 20px;
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
}