.navbar-mega {
  border: 0;
  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }

  .container {
    position: relative;
  }

  .dropdown-menu {
    left: auto;
  }

  .navbar-mega-content {
    padding: 20px 30px;
  }

  .dropdown.dropdown-full-width .dropdown-menu {
    left: 15px;
    right: 15px;
  }

  .dropdown-menu {
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid $brand-color;
    //@include transform-origin(0 0 0);
    //@include scale(1,0.7);
    //@include transition-transform(0.5s ease 0s);
  }
  @media (min-width: $grid-float-breakpoint) {
    li:hover .dropdown-menu {
      //@include scale(1,1);
      display: block;
    }
  }
}

.navbar-default {
  .navbar-nav {
    > li > a {
      text-transform: uppercase;
      border-radius: $border-radius-base;
    }
  }
}