//== Colors
$grey1: #f5f5f5 !default;
$grey2: #c0c0c0 !default;
$grey3: #999999 !default;
$grey4: #909090 !default;
$grey5: #888888 !default;
$grey6: #606060 !default;
$grey7: #4f4f4f !default;
$white: #fff !default;
$brand-color: #007f79 !default;

//== Scaffolding
$text-color: $grey7 !default;
$link-color: $brand-color !default;

//== Typography
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//== Alternate navbars
$navbar-default-bg: $white !default;
$navbar-default-brand-color: $grey7 !default;
$navbar-default-brand-hover-color: $brand-color !default;
$navbar-default-link-color: $grey7 !default;

//=== Header
// Colors
$header-top-bar-background: $grey1 !default;
$header-top-bar-color: $grey4 !default;
$header-middle-bar-background: $white !default;
$header-middle-bar-color: #000 !default;

//=== Social icons
// Colors
$social-icon-color: #BABABA;
$social-icon-hovered-color: #FFF;
$facebook-color: #4A6D9D;
$twitter-color: #3BC1ED;
$linkedin-color: #00A0DC;
$google-plus-color: #D53824;
// Padding
$social-icon-padding: 5px 10px !default;