.header {
  .header-row {
    margin-top: 20px;
  }
  .top-bar {
    background: $header-top-bar-background;
    color: $header-top-bar-color;

    a {
      color: #909090;
    }

    .contacts {
      .list {
        > li {
          padding: 5px 10px;
        }
      }
    }

    .slogan h2 {
      font-size: 14px;
      line-height: 30px;
      margin: 0;
    }
  }

  .middle-bar {
    background: $header-middle-bar-background;
    .logo {
      text-align: center;
      margin: 10px 0;

      @media (min-width: $screen-sm-min) {
        text-align: left;
        margin-top: 20px;
      }
    }
    .auth-bar {
      margin-bottom: 10px;
      @media (max-width: $screen-sm-min) {
        float: none !important;
      }
      a {
        padding: 5px;
      }
      .btn {
        &:last-child {
          padding-right: 0;
        }
      }
    }
    .search-bar {
      position: relative;
      margin-bottom: 10px;
      margin-left: 10px;
      button {
        position: absolute;
        right: 0;
        top: 0;
      }
      .form-control {
        padding-right: 45px;
      }
    }
  }
}

.social-icons {
  a {
    color: $social-icon-color;
    padding: $social-icon-padding;
    &:hover {
      color: $social-icon-hovered-color;
    }
    &.facebook {
      &:hover {
        background: $facebook-color;
      }
    }
    &.twitter {
      &:hover {
        background: $twitter-color;
      }
    }
    &.linkedin {
      &:hover {
        background: $linkedin-color;
      }
    }
    &.google-plus {
      &:hover {
        background: $google-plus-color;
      }
    }
  }
}