.widget-area-top {
  margin-bottom: 20px;
}

.widget-area-top-sidebar {
  .widget-container {
    background: #f5f5f5;
    padding: 15px 15px 0;
    &.widget-container-last {
      padding-bottom: 15px;
    }
  }
  .widget {
    .widget-title {
      font-size: 18px;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 10px;
    }
  }
}

.widget-area-after-content {
}


.widget-area-sidebar {
  .widget-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: $white;
    background-color: $brand-color;
    padding: 10px;
  }

  .nav a {
    padding: 5px 10px;
  }
}