.owl-carousel {
  overflow: hidden;
  .item {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
  }
}

.carousel {
  .item {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
  }
  .item::before {
    background-color: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
